apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: k8s-workshop-api
spec:
  replicas: 5
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: koshilki/k8s-workshop-api:v2
        imagePullPolicy: Always